<div class="flex mt-3 justify-evenly">
    <app-chess-board></app-chess-board>
    <div class="info-box">
        <div class="room-link">
            <label>Room Link:</label>
            <input readonly type="text" value="{{link}}" class="links">
            <button class="copy-button">copy</button>
        </div>
        <div class="card text-box scroll">
            <ng-container *ngFor="let text of textHistory">
                <label class="log">{{text}}</label>
            </ng-container>
        </div>
        <div class="pieces">
            <div class="card white-piece smaller-card" [ngClass]="{ 'smaller-card-no-player': player1 === '...' }">
                <img class="card-img-top" src="../../assets/images/whitepiece.png" alt="White Chess Piece">
                <div>{{player1}}</div>
            </div>
            <div class="card black-piece smaller-card" [ngClass]="{'smaller-card-no-player': player2 === '...'}">
                <img class="card-img-top" src="../../assets/images/blackpiece.png" alt="Black Chess Piece">
                <div>{{player2}}</div>
            </div>
        </div>
        <div class="navigation-options">
            <button class="button button-text" (click)="cancel()">Cancel</button>
            <button [ngClass]="{ 'disabled': !ready }" class="button button-text" (click)="startGame()">Start Game</button>
        </div>
    </div>
</div>
