<div class="flex mt-4">
    <h1>
        Example User's Game Stats
    </h1>
    <table class="table">
      <tbody>
            <tr>
                <td>All Games Played:</td>
                <td>{{gameStats.allGames}}</td>
            </tr>
            <tr>
                <td>Active Games:</td>
                <td>{{gameStats.activeGames}}</td>
            </tr>
            <tr>
                <td>Games Won:</td>
                <td>{{gameStats.wonGames}}</td>
            </tr>
            <tr>
                <td>Games Lost:</td>
                <td>{{gameStats.lostGames}}</td>
            </tr>
      </tbody>
  </table>
</div>
