<div class="modal-content">
  <!-- Sign In -->
  <form *ngIf="isSignIn" [formGroup]="signInForm">
    <div class="modal-header">
      <h5 class="modal-title">Sign In</h5>
    </div>
    <div class="modal-body pb-1">
      <div class="p-3">
        <div class="form-group p-2" >
          <label for="email">Email Address</label>
          <input 
            id="email"
            name="email"
            type="email" 
            class="form-control" 
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'error-border': signInForm.get('email').errors && signInForm.get('email').touched }"
            >
            <div *ngIf="signInForm.get('email').errors && signInForm.get('email').touched" class="error">
              Email Address is required
            </div>
        </div>
        <div class="form-group p-2" >
          <label for="password">Password</label>
          <input 
          id="password" 
          name="password"
          type="password" 
          class="form-control" 
          placeholder="Password"
          formControlName="password"
          [ngClass]="{ 'error-border': signInForm.get('password').errors && signInForm.get('password').touched }"
            >
          <div *ngIf="signInForm.get('password').errors && signInForm.get('password').touched" class="error">
            Password is required
          </div>
        </div>
        <button type="submit" class="button button-text" (click)="signIn()">Sign In</button>
        <div *ngIf="signInFailed" class="error center-text">
          Entered username or password is incorrect.
        </div>
      </div>
    </div>
    <div class="modal-footer center-items">
      <a class="links mx-4" (click)="switchMode('signup')">Sign Up</a>
      <a class="links mx-4" >Forgot password?</a>
    </div>
  </form>

  <!-- Sign Up -->
  <form *ngIf="!isSignIn" [formGroup]="signUpForm">
    <div class="modal-header">
      <h5 class="modal-title">Sign Up</h5>
    </div>
    <div class="modal-body">
      <div class="p-3 pb-0">
        <div class="form-group p-2" >
          <label for="username">Username</label>
          <input 
            id="username"  
            name="username"
            class="form-control" 
            type="text"
            placeholder="Username"
            formControlName="username"
            [ngClass]="{ 'error-border': signUpForm.get('username').errors && signUpForm.get('username').touched }"
            >
            <div *ngIf="signUpForm.get('username').errors && signUpForm.get('username').touched" class="error">
              Username is required
            </div>
            <div 
              *ngIf="(errorCode == -1 || errorCode == -3) && signUpForm.get('username').value === invalidUsername"
              class="error">
              Username already exists
            </div>
        </div>
        <div class="form-group p-2" >
          <label for="email">Email Address</label>
          <input 
            id="email"
            name="email"
            type="email" 
            class="form-control" 
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'error-border': signUpForm.get('email').errors && signUpForm.get('email').touched }"
            >
          <div *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email').errors['required'] && signUpForm.get('email').touched" class="error">
            Email Address is required
          </div>
          <div 
            *ngIf="(errorCode == -1 || errorCode == -2) && signUpForm.get('email').value === invalidEmail"
            class="error">
            Email Address already exists
          </div>
          <div
            *ngIf="!isValidEmailFormat(signUpForm.get('email').value) && signUpForm.get('email')?.errors && signUpForm.get('email')?.errors['email']"
            class="error">
            Not a valid Email Address format
          </div>
          
          <label for="emailConfirm">Confirm Email Address</label>
          <input 
            id="emailConfirm" 
            name="emailConfirm"
            type="email" 
            class="form-control" 
            placeholder="Email"
            formControlName="emailConfirm"
            [ngClass]="{ 'error-border': signUpForm.get('emailConfirm').errors && signUpForm.get('emailConfirm').touched }"
          >
          <div 
            *ngIf="signUpForm.get('emailConfirm').errors && signUpForm.get('emailConfirm').errors['required'] && signUpForm.get('emailConfirm').touched" 
            class="error">
            Confirm Email Address is required
          </div>
          <div 
            *ngIf="(signUpForm.get('emailConfirm').value !== signUpForm.get('email').value) && signUpForm.get('emailConfirm').touched" 
            class="error">
            Email Addresses do not match
          </div>
          <div
            *ngIf="!isValidEmailFormat(signUpForm.get('email').value) && signUpForm.get('emailConfirm').errors && signUpForm.get('email').errors['email']"
            class="error">
            Not a valid Email Address format
          </div>
        </div>
        <div class="form-group p-2">
          <label for="password">Password</label>
          <input 
            id="password" 
            name="password"
            type="password" 
            class="form-control" 
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'error-border': signUpForm.get('password').errors && signUpForm.get('password').touched }"
          >
          <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').touched" class="error">
            Password is required
          </div>
          <label 
            for="passwordConfirm">Confirm Password</label>
          <input 
            id="passwordConfirm" 
            name="passwordConfirm"
            type="password" 
            class="form-control" 
            placeholder="Password"
            formControlName="passwordConfirm"
            [ngClass]="{ 'error-border': signUpForm.get('passwordConfirm').errors && signUpForm.get('passwordConfirm').touched }"
          >
          <div *ngIf="signUpForm.get('passwordConfirm').errors && signUpForm.get('passwordConfirm').touched" class="error">
            Confirm Password is required
          </div>
          <div *ngIf="(signUpForm.get('passwordConfirm').value !== signUpForm.get('password').value) && signUpForm.get('passwordConfirm').touched" class="error">
            Passwords do not match
          </div>
        </div>
        <button type="submit" class="button button-text pb-0" (click)="signUp()">Sign Up</button>
        <div *ngIf="errorCode < 0" class="error center-text">
          Sign up failed.
        </div>
      </div>
    </div>
    <div class="modal-footer center-items">
      <a class="links mx-4" (click)="switchMode('signin')">Sign In</a>
      <a class="links mx-4">Forgot password?</a>
    </div>
  </form>
</div>


