<!DOCTYPE html>
<html>
  <head>
    <title>Navigation bar DEMO</title>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>
    <header>
      <nav>
        <button routerLink="/home" class="navigation-button navigation-button-text">Games</button>
        <button class="navigation-button navigation-button-text">My Games</button>
        <button class="navigation-button navigation-button-text">My Stats</button>
        <button class="navigation-button navigation-button-text align-right">Sign In</button>
      </nav>
    </header>
    <main>
    </main>
  </body>
</html>

<router-outlet></router-outlet>
