<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pause Game</h5>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to pause the game?
            You will be sent to the home screen and the game will be saved.
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="button button-text pb-0" (click)="cancel()">Cancel</button>
        <button type="submit" class="button button-text danger" (click)="leaveGame()">Yes</button>
    </div>
</div>