<div class="flex mt-4">
    <h1 *ngIf="!username">
        Games in Progress
    </h1>
    <h1 *ngIf="username">
        {{username}}'s Games in Progress
    </h1>

    <h3 *ngIf="playerGames.length === 0" class="no-games">No Games In Progress</h3>

    <table *ngIf="playerGames.length > 0" class="table">
        <thead>
            <tr>
                <th scope="col">Started</th>
                <th scope="col">Last Played</th>
                <th scope="col">Opponent</th>
                <th scope="col">Rejoin?</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of playerGames">
                <tr>
                    <td>{{row.startedDate}}</td>
                    <td>{{row.lastPlayed}}</td>
                    <td>{{row.opponent}}</td>
                    <td>
                        <button class="button button-text" (click)="reJoinGame(row)">Join</button>
                        <button class="danger button button-text" (click)="forfeitGame(row)">Forfeit</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
