<div class="table-border">
    <table class="fixed">
        <tbody>
            <ng-container *ngFor="let row of spaces">
                <tr>
                    <ng-container *ngFor="let space of row">
                        <td [ngClass]="(space.x - space.y) % 2 === 0  ? 'black-square' :'white-square'">
                            <button 
                                *ngIf="gameReady && space.piece && !space.possibleMove" 
                                class="piece-button"
                                (click)="showPossibleMoves(space)"
                                >
                                <img class="piece" src="../../assets/images/pieces/{{space.piece.color}}-{{space.piece.type}}.png"/>
                            </button>
                            <button
                                *ngIf="gameReady && space.possibleMove"
                                class="possible"
                                (click)="movePiece(space)"
                                >
                                <img *ngIf="space.piece" class="piece" src="../../assets/images/pieces/{{space.piece.color}}-{{space.piece.type}}.png"/>
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

