<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pause Game</h5>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to pause this match? You may rejoin the game through the 'My Games' tab.</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="button button-text pb-0" (click)="cancel()">Cancel</button>
        <button type="submit" class="button button-text danger" (click)="pause()">Yes</button>
    </div>
</div>
