<div class="flex space-above">
  <div class="home-screen-title-blocks">
    <h1 class="header home-screen-title">Welcome to One Board Game Online!</h1>
    <h3 class="home-screen-subtitle">By Alex Matov</h3>
    <h5 class="home-screen-subtitle home-screen-subtitle-smaller">Capstone Project for ICS-499</h5>
  </div>
  <div class="card text-center" style="width: 30rem;">
    <img class="card-img-top img-background" src="../../assets/images/chess-clipart.png" alt="clipart with purple chess pieces"/>
    <div class="card-body">
      <h5 class="card-title">Start a game of Chess</h5>
      <p class="card-text">Play online with your friends!</p>
      <div>
        <button class="space-between button button-text" (click)="newGame()">
          New Game
        </button>
        <button class="space-between button button-text" (click)="joinGame()">
          Join Game
        </button>
      </div>
    </div>
  </div>
</div>